<div class="footer">
    <mat-toolbar class="footer__toolbar" color="primary">
      <mat-toolbar-row class="footer__toolbar_row">
        <div class="footer__toolbar_logo">
          <a routerLink="/">
            <img src="/assets/Odkryj.png" alt="logo odkryj-podróże" />
          </a>
        </div>
        <span class="footer__example-spacer"></span>
        <div class="footer__contact">
            <mat-icon>mail</mat-icon>
            <a href="mailto:odkryjpodroze@bok.pl">Skontaktuj się z nami</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>