<mat-card class="example-card" [ngStyle]="{'width': width}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>{{ country }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="img" alt="Photo of Madrid landscape">
    <mat-card-content>
      <p>
        Wycieczka do: {{title}}
      </p>
      <p>
        W terminie:
      </p>
      <p>
        Kosztuje: {{cost}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">ZAREZERWUJ</button>
    </mat-card-actions>
</mat-card>