<div class="user-panel">
  <div class="user-panel__container">
    <div class="user-panel__title">
      <h2>MOJE REZERWACJE</h2>
    </div>
    <div class="user-panel__reservations" *ngIf="selectedTrips">
      <p *ngIf="selectedTrips.length === 0">Nie masz jeszcze zarezerwowanej wycieczki</p>
      <app-vacation-card
        *ngFor="let trip of selectedTrips"
        [width]="'300px'"
        [img]="trip.url"
        [title]="trip.title"
        [country]="trip.country"
        [cost]="trip.cost"
        [startDate]="trip.startDate"
        [endDate]="trip.endDate"
        [trip]="trip"
        (buttonClick)="onCancelButtonClick(trip)"
      ></app-vacation-card>
    </div>
  </div>
</div>
