html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }
:root {
    --color-blue: #659DBD;
    --color-light-orange: #DAAD86;
    --color-beige: #BC986A;
    --color-olive-green: #8D8741;
    --color-light-yellow: #FBEEC1;
}
.mdc-evolution-chip-set__chips {
    margin-left: 0!important;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
