<div class="search">
    <div class="search__container">
        <div class="search__title">
            <p>Wyszukaj podróż</p>
        </div>
        <div class="search__from">
            <p>Skąd:</p>
            <div class="search__from_places">
                <mat-checkbox class="search__place" *ngFor="let place of fromPlaces">{{ place }}</mat-checkbox>
            </div>
        </div>
        <div class="search__destination">
            <p>Dokąd:</p>
            <mat-checkbox class="search__place" *ngFor="let place of toPlaces">{{ place }}</mat-checkbox>
        </div>
        <div class="search__when">
            <p>Kiedy:</p>
            <mat-form-field>
                <mat-label>Wybierz daty podróży</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Wylot">
                  <input matEndDate placeholder="Przylot">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
        </div>
        <div class="search__budget">
            <p>Budżet:</p>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Twój budżet</mat-label>
                  <input matInput placeholder="Wpisz kwotę w złotówkach">
                </mat-form-field>
            </form>              
        </div>
        <mat-chip-listbox multiple class="search__options">
            <mat-chip-option *ngFor="let option of tripOptions">
                {{ option }}
            </mat-chip-option>
        </mat-chip-listbox>
        <div class="search__button">
            <button mat-raised-button color="primary">Szukaj</button>
        </div>
    </div>
    <div class="search__cards">
        <app-vacation-card 
        *ngFor="let trip of trips"
        [width]="'300px'" [img]="trip.url" [title]="trip.title" [subtitle]="trip.subtitle" [cost]="trip.cost"></app-vacation-card>

    </div>
</div>