<div class="register">
  <div class="register__container">
    <h2>Zarejestruj się</h2>
    <form class="register__container_example-form">
      <p>Imię</p>
      <mat-form-field class="example-full-width">
        <mat-label>Imię</mat-label>
        <input matInput placeholder="Wpisz swoje imię" />
      </mat-form-field>
      <p>Nazwisko</p>
      <mat-form-field class="example-full-width">
        <mat-label>Nazwisko</mat-label>
        <input matInput placeholder="Wpisz swoje nazwisko" />
      </mat-form-field>
      <p>Email</p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Wpisz swój email" />
      </mat-form-field>
      <p>Hasło</p>
      <mat-form-field class="example-full-width">
        <mat-label>Hasło</mat-label>
        <input matInput placeholder="Wpisz swoje hasło" />
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      color="primary"
      class="register__container_button"
    >
      Zarejestruj się
    </button>
    <div class="register__container_login">
      <p>Masz już konto? <a routerLink="/users">Zaloguj się</a></p>
    </div>
  </div>
</div>
