.register {
    height: max-content;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
      margin-top: 4%;
      margin-bottom: 4%;
      text-align: center;
      padding: 25px 50px;
      border: 5px solid #242582;
      border-radius: 16px;
      box-shadow: 9px 8px 24px 0px rgba(66, 68, 90, 1);
      h2 {
          font-size: 24px;
      }
      &_login {
        margin-top: 20px;
        a {
          text-decoration: none;
          color: #673ab7;
          font-weight: 500;
          font-size: 16px;
        }
      }
      &_example-form {
          padding: 20px 0 20px;
          p {
              font-size: 16px;
          }
      }
    }
  }
  